<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="chs_admin">
  	<select id="memberlist" resultType="org.timetable.univ.model.vo.MemberVo">
  		select * from member
  	</select>
  
  	<select id="memberdeleteselect" parameterType="java.lang.Integer" resultType="org.timetable.univ.model.vo.MemberVo">
  		select * from member where no = #{no} 
  	</select>
  	
  	<delete id="memberdelete" parameterType="java.lang.Integer">
  		delete  from member where no = #{no}
  	</delete>
  	
  	<delete id="memberdeletemany" parameterType="java.lang.String">
  		delete from member where name = #{name}
  	</delete>
  	
  	
  	<select id="boardpostlist" parameterType="java.lang.Integer" resultType="org.timetable.univ.model.vo.PostVo">
  		select * from post where boardno = #{boardno}
  	</select>
  	
  	<delete id="postdelete" parameterType="java.lang.Integer">
  		delete from post where no = #{no}
  	</delete>
  	
  	<delete id="postdeletemany" parameterType="java.lang.Integer">
  		delete from post where no = #{no}
  	</delete>
  	
  	
  	<!-- board find -->
  	<select id="boardsubjectlist" parameterType="java.lang.String" resultType="org.timetable.univ.model.vo.PostVo">
  		select * from post where subject like #{subject} and boardno = 10
  	</select>
  	
  	<select id="boardnolist" parameterType="java.lang.Integer" resultType="org.timetable.univ.model.vo.PostVo">
  		select * from post where no = #{no} and boardno = 10
  	</select>
  	
  	<select id="boardpublishedlist" parameterType="java.lang.String" resultType="org.timetable.univ.model.vo.PostVo">
  		select * from post where published = #{published} and boardno = 10
  	</select>
  	
  	<select id="boardcontentlist" parameterType="java.lang.String" resultType="org.timetable.univ.model.vo.PostVo">
  		select * from post where content like #{content} and boardno = 10
  	</select>
  	
  	<select id="boardwriterlist" parameterType="java.lang.String" resultType="org.timetable.univ.model.vo.PostVo">
  		select * from post where writer like #{writer} and boardno = 10
  	</select>
  	
  	<!-- circleboard -->
  	<select id="circleboardsubjectlist" parameterType="java.lang.String" resultType="org.timetable.univ.model.vo.PostVo">
  		select * from post where subject like #{subject} and boardno = 40
  	</select>
  	
  	<select id="circleboardnolist" parameterType="java.lang.Integer" resultType="org.timetable.univ.model.vo.PostVo">
  		select * from post where no = #{no} and boardno = 40
  	</select>
  	
  	<select id="circleboardpublishedlist" parameterType="java.lang.String" resultType="org.timetable.univ.model.vo.PostVo">
  		select * from post where published = #{published} and boardno = 40
  	</select>
  	
  	<select id="circleboardcontentlist" parameterType="java.lang.String" resultType="org.timetable.univ.model.vo.PostVo">
  		select * from post where content like #{content} and boardno = 40
  	</select>
  	
  	<select id="circleboardwriterlist" parameterType="java.lang.String" resultType="org.timetable.univ.model.vo.PostVo">
  		select * from post where writer like #{writer} and boardno = 40
  	</select>
  	
  	<select id="membersidlist" parameterType="java.lang.String" resultType="org.timetable.univ.model.vo.MemberVo">
  		select * from member where id like #{id}
  	</select>
  	
  	<select id="membersnamelist" parameterType="java.lang.String" resultType="org.timetable.univ.model.vo.MemberVo">
  		select * from member where name like #{name}
  	</select>
  	
  	<select id="membersnicknamelist" parameterType="java.lang.String" resultType="org.timetable.univ.model.vo.MemberVo">
  		select * from member where nickname like #{nickname}
  	</select>
  	
  	<select id="membersdepartmentlist" parameterType="java.lang.String" resultType="org.timetable.univ.model.vo.MemberVo">
  		select * from member where department like #{department}
  	</select>
  	
  </mapper>