<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="LKH-Member">
    <!-- 회원가입 값 DB에 넣을 쿼리문  -->
	<insert id="addJoin" parameterType="org.timetable.univ.model.vo.MemberVo">
		insert into member (id, pass, name, nickname, department, joindate, no) values
			(#{id}, #{pass}, #{name}, #{nickname}, #{department}, sysdate, member_seq.nextval)
	</insert>
	<!-- DB의 학과 정보 불러올 쿼리문 -->
	<select id="getDepartment" resultType="org.timetable.univ.model.vo.DepartmentVo">
		select * from department order by no asc
	</select>
	<!-- 회원 가입시 ID 중복 체크 쿼리문 -->
	<select id = "getIdCheck" parameterType = "java.lang.String" resultType="org.timetable.univ.model.vo.MemberVo">
    	select id from member where id = #{id}
	</select>
	<!-- 회원 가입시 닉네임 중복 체크 쿼리문 -->
	<select id = "getNickNameCheck" resultType="org.timetable.univ.model.vo.MemberVo">
    	select nickname from member where nickname = #{nick}
	</select>
	<select id = "findByIdandPass" parameterType="java.util.HashMap" resultType="org.timetable.univ.model.vo.MemberVo">
    	select * from member where id=#{id} and pass=#{pass}
	</select>
	<!-- 회원정보 수정시 불러올 회원정보 쿼리문 -->
	<select id="Memberinfo" parameterType="string" resultType="org.timetable.univ.model.vo.MemberVo" >
		select * from member where id = #{id}
	</select>
	<update id="EditMember" parameterType="hashmap">
		update member set pass = #{pass}, nickname = #{nickname}, department =#{department}, email = #{email} where no = #{no}
	</update>
</mapper>