<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="shs_member">
	<!-- Select -->
	<select id="findById" parameterType="java.lang.String" resultType="org.timetable.univ.model.vo.MemberVo">
		select * from member where id=#{id}
	</select>
	
	<select id="findByIdAndPassMap" parameterType="java.util.HashMap" resultType="org.timetable.univ.model.vo.MemberVo">
		select * from member where id=#{id} and pass=#{pass}
	</select>
	
	<select id="findAlikeId" parameterType="java.lang.String" resultType="org.timetable.univ.model.vo.MemberVo">
		select * from member where id like #{id}
	</select>
	
	<!-- update -->
	<update id="updateLastLogin" parameterType="java.lang.String">
		update member set lastlogin = sysdate where id=#{id}
	</update>
</mapper>