<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="shs_subject">
	<!-- Select -->
	<select id="getAllSubjects" resultType="org.timetable.univ.model.vo.SubjectVo">
		select * from subject order by no asc
	</select> 
	
	<select id="getSubjectsByDept" parameterType="java.lang.Integer" resultType="org.timetable.univ.model.vo.SubjectVo">
		select * from subject where department=#{departmentNo} order by no asc
	</select>
	
</mapper>